labs/lab2runs/
labs/lab2/runs/
labs/lab2/out_nonreg/
labs/lab2/out/
labs/lab2/out1/
labs/lab2/datasets/
labs/lab2/build/
labs/lab2/__pycache__/
labs/lab2/cifar_/
labs/lab2/cifar/
labs/lab2/cifar_out/
labs/lab2/im2col_cython.c
labs/lab2/im2col_cython.cpython-312-x86_64-linux-gnu.so
labs/lab2/im2col_cython.pyx
labs/lab3/__pycache__/
labs/runs/
labs/hiddenlab/
labs/lab3/sst/
labs/lab3/glove/
labs/lab4/__pycache__/
labs/lab4/model_params.pth
labs/lab4/model_params_no0.pth

